* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    color: #000;
    line-height: 1.5;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #4f46e5;
    margin-bottom: 10px;
}
.header p{
    font-size: 1.1rem;
    color: #666;
    text-align: center;
}
.controls{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 30px;
}
.controls-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.controls-container input{
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: #4f46e5;

}
.controls-container button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #4e47cb;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

@media (min-width:786px) {
    .controls-container{
        flex-direction: row;
    }
    
}