*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#fafafa 0%,#afafaf 45%,#efcead 55%);
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 700px;
    margin: 50px auto 0 auto;
    text-align: center;
    padding: 30px 100px;
    box-shadow: 3px 3px 10px 10px #fafafa;
    border-radius: 10px;
}
.container .card{
    padding: 20px;
}
.card input{
    border: none;
    outline: none;
    width: 75%;
    padding: 10px 20px;
    border-radius: 5px;

}
.card button{
   width: 40px;
   height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    background-color: aquamarine;
    cursor: pointer;
}

li{
    list-style: none;
}

#textList{
    width: 75%;
    margin:20px auto 0 auto;
    border: 2px silver solid;
    padding: 10px 30px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px #fff;

}

.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
.listItem .left{
    display: flex;
    gap: 5px;
}

.left input{
    width: 20px;
    height: 20px;
}
.left p{
    font-size: 18px;
    
}

.right button{
    padding: 10px 21px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #afafaf;
    color: #fff;
    font-weight: bold;
}