*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
     background-color: rgb(84, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{

    text-align: center;
}

   
   
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    max-width: 350px;
    gap: 20px;
}
.progress-container::before{
    content: "";
    background-color: aqua;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);

}
.progress{
    background-color: rgb(117,177,132);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    
    
}
.circle{
    /* background-color: #fff; */
    color: #999;
    font-size: 23px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.circle.active{
    border-color: aqua;
}
.btn{
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;

}

.btn.active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;

}

.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}