* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html,
body {
    width: 100%;
    background: yellowgreen;
}

.container {
    width: 1024px;
    border: 2px solid red;
    margin: 20px auto 0px auto;
    text-align: center;
    padding: 20px 30px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.signInForm {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: blueviolet;
}