* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html,
body {
    width: 100%;
    background: yellowgreen;
}

.container {
    width: 1024px;
    margin: 20px auto 0px auto;
    text-align: center;
    padding: 20px 30px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.signInForm {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: blueviolet;
    padding: 30px;
    border-radius: 10px;
}
.signInForm  input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 18px;
}
.signInForm button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: cadetblue;
    color: #e9e9e9;   
    opacity: 0.8; 
    transition: all 0.8s ease-in-out;
}
button:hover{
    cursor: pointer;
    opacity: 1;
    
}
.notData{
    font-size: 20px;
    font-weight: 400;
    color: rgb(214, 86, 86);
}