@import "tailwindcss";

.container{
    border: 2px solid rgb(139, 139, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    
}