@import "tailwindcss";

.container{
    border: 2px solid rgb(139, 139, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    
}

.container .leftBox{
    width: 75%;
    background-color: rgb(157, 241, 213);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}
.container .rightBox{
    width: 25%;
    display: flex;
    gap: 10;
    justify-content: center;
    align-items: center;
}

.container .rightBox .btn{
    padding: 8px 20px;
    border: 1px solid gray;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;


}