*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    width: 400px;
    box-shadow: 3px 0px 5px 10px rgb(245, 221, 221);
    padding: 4rem 6rem;
    border-radius: 1rem;
}

.title{
    font-size: 1.2rem;
    margin: 0;
}
.subtitle{
    display: inline-block;
    margin: 5px 0px 20px;
}
header input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    outline: none;

}

.user-list li{
    list-style: none;
}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
}

.user-list .user-info{
    margin: 10px;
}

.user-info h4{
    color: black;
}

.user-list .user-info p{
    font-size: 12px;
}

.user-list li:not(:last-of-type){
    border-bottom: 1px solid black;
}