* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

html,
body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto 0 auto;
    max-width: 500px;
}



form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;

}

form input {
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    flex: 1;
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
form button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--text);
}
