* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

html,
body {
    background-color: var(--background);
    color: var(--text);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.statsContainer {
    border: 2px solid var(--purple);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.detail {
    border: 1px solid yellow;
    width: 100%;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;

}

#progress {
    width: 80%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}


form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;

}

form input {
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    flex: 1;
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
form button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--text);
}