*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --green: #17a589;
    --darkGreen: #004d40;
    --shadow: 0px 1px 15px 1px #6d6d6d;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;

}

/* Header CSS Start from here */
.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 5px;
    top: 0;
    z-index: 1000;

}

.header .logoBox img {
    width: 75px;
}

.header .menuList ul {
    display: flex;
    gap: 30px;
}

.header .menuList ul li {
    list-style: none;

}

.header .menuList ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}

.header .logoutBtnBox button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--darkGreen);
    color: var(--white);
    cursor: pointer;
}

/* Header CSS End From Here */

main {
    min-height: 100%;
    background-image: url("../assets/image/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;

    overflow: hidden;
}

main section {
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;

}

main section .intro {
    margin: 20px 0px;

}

main section .intro h1 {
    font-size: 50px;
}

main section .intro p {

    line-height: 1.5;
}

main section .teams {
    margin: 40px 0px;
}

main section .teams h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

main section .teams .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

main section .teams .cards .card {
    text-align: center;
    border-radius: 12px;
    padding: 30px 90px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main section .teams .cards .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

main section .teams .cards .card img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

main section .teams .cards .card h4 {
    font-size: 18px;
}

main section .teams .cards .card p {
    font-size: 14px;
}

main section .mission {
    margin: 30px 0px;

}

main section .mission h2 {
    font-size: 40px;
}

main section .mission p {
    line-height: 1.5;
}




/* footer css start from here */

.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(59, 78, 59);
    color: var(--white);
    padding: 20px 30px;
}

.footer .topbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer .topbox .box h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer .topbox .box p {
    text-align: justify;
}

.footer .topbox .box ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.footer .topbox .box ul li {
    list-style: none;
}

.footer .topbox .box ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer .topbox .box .socialmediaBtn {
    display: flex;
    flex-direction: column;
}

.footer .topbox .box .socialmediaBtn div button {
    width: 100px;
    border: none;
    outline: none;
    padding: 5px 20px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
}


.footer .topbox .box .contactBox p {
    text-align: justify;
}


.footer .bottomBox {
    text-align: center;
    margin-top: 30px;
}






/* footer css end from here */