*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --black: #000;
    --green: #17a589;
    --darkGreen: #004d40;
    --shadow: 0px 1px 15px 1px #6d6d6d;
}
html,body{
    width: 100%;

}

/* Header CSS Start from here */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 5px;
}
.header .logoBox img{
    width: 75px;
}
.header .menuList ul{
    display: flex;
    gap: 30px;
}
.header .menuList ul li{
    list-style: none;
    
}
.header .menuList ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}
.header .logoutBtnBox button{
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--darkGreen);
    color: var(--white);
    cursor: pointer;
}
/* Header CSS End from here */

