*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #fff;
    --black: #000;
    --green: #17a589;
    --darkGreen: #004d40;
    --shadow: 0px 1px 15px 1px #6d6d6d;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;

}

/* Header CSS Start from here */
.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    padding: 5px;
}

.header .logoBox img {
    width: 75px;
}

.header .menuList ul {
    display: flex;
    gap: 30px;
}

.header .menuList ul li {
    list-style: none;

}

.header .menuList ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}

.header .logoutBtnBox button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--darkGreen);
    color: var(--white);
    cursor: pointer;
}

/* Header CSS End From Here */
body main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main .container {
    max-width: 75rem;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.container .heading h1 {
    text-align: center;
    font-size: 50px;
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.container .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.container .cards .card div img {
    object-fit: cover;
    height: 300px;
    width: 600px;
}

.container .cards .card .cardContent {
    margin-top: 10px;
    padding: 10px 30px;
    text-align: center;
}

.container .cards .card .cardContent h3 {
    color: var(--green);
    line-height: 2;
    text-align: left;
}

.container .cards .card .cardContent p {
    text-align: justify;
    line-height: 1.3;
}

.container .cards .card .cardContent button {
    padding: 13px 35px;
    margin-top: 5px;
    border: none;
    border-radius: 50px;
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s linear;

}

.container .cards .card .cardContent button:hover {
    transform: scale(1.08);
    background-color: var(--darkGreen);

}

.container .testinomial {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.container .testinomial h3 {
    font-size: 45px;

}

.container .testinomial .guests {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.container .testinomial .guests .guest {
    padding: 60px 30px;
    text-align: center;
    background-color: var(--white);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.container .testinomial .guests .guest p{
    font-size: 20px;
    margin-bottom: 10px;
}







/* footer css start from here */

.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(59, 78, 59);
    color: var(--white);
    padding: 20px 30px;
}

.footer .topbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer .topbox .box h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer .topbox .box p {
    text-align: justify;
}

.footer .topbox .box ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.footer .topbox .box ul li {
    list-style: none;
}

.footer .topbox .box ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.footer .topbox .box .socialmediaBtn {
    display: flex;
    flex-direction: column;
}

.footer .topbox .box .socialmediaBtn div button {
    width: 100px;
    border: none;
    outline: none;
    padding: 5px 20px;
    margin: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
}


.footer .topbox .box .contactBox p {
    text-align: justify;
}


.footer .bottomBox {
    text-align: center;
    margin-top: 30px;
}






/* footer css end from here */