*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white:#fff;
    --black:#000;
    --green:#17a589;
    --darkGreen:#0ca385;
    --shadow:0px 1px 15px 1px #e9e9e9;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 15px;
}
a,a:hover{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    background: var(--green);
    opacity: 0.9;
    transition: transform 0.5s linear;
}
button:hover{
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}
input:focus{
    outline: none;
    border: none;
}

.mainBody{
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--white);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 20px;

}
#loginBtn{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;    
}
.loginHeading{
    color: var(--darkGreen);
    font-size: 35px;
}

.inputFields{
    margin-top: 10px;
}