* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --green: #17a589;
    --darkGreen: #004d40;
    --shadow: 0px 1px 15px 1px #6d6d6d;
}

html,
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

a,
a:hover {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    background: var(--green);
    opacity: 0.9;
    transition: transform 0.5s linear;
}

button:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    border: none;
}

.mainBody {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--white);
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 400px;
    height: 400px;
}

#loginBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginHeading {
    font-size: 40px;
    color: var(--green);
    text-align: center;

}
.inputFieldBox label{
    font-size: 16px;
    color: gray;
}
.inputFieldBox input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 50px;
    margin-top: 1px;
}
.inputFieldBox input:focus{
    border: 2px solid rgb(45, 45, 207);
}
.inputFieldBox button{
    margin-top: 100px;
    width: 100%;
}

