* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background: #f4f6fb;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 80px 0px 0px 0px;
    background: white;
    box-shadow: -1px 5px 10px 1px #989797;
    width: 35%;
    height: 70%;
    padding: 20px 40px;
    border-radius: 18px;
}

.container h1 {
    font-size: 22px;

}

.box {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0px;
}



.box input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    opacity: 0.4;
}

.box button {
    padding: 11px 17px;
    margin-left: 4px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #4a6cf7;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

input::placeholder {
    opacity: 0.9;
    color: black;
}

input:focus {
    outline: 1px solid black;
    opacity: 0.7;
}


.textArea {
    width: 50%;
    margin-top: 20px;
    background: aqua;
    border-radius: 10px;

}

.textArea li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: antiquewhite;
    padding: 12px 15px;
}

.textArea .left {
    width: 70%;
    display: flex;
    background-color: rgb(19, 223, 128);
    gap: 5px;
}

.textArea .right {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.textArea .right button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}

.textArea .right .editBtn {
    background-color: #4a6cf7;
    color: white;
}

.textArea .right .deleteBtn {
    background-color: rgb(240, 38, 38);
    color: white;
}


.left .done {
    text-decoration: line-through;
    text-decoration-color: rgb(226, 50, 50);
}


li {
    list-style: none;
}

@media (width<1050px) {
    .container {
        width: 50%;
        height: 70%;
        padding: 20px 40px;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
    }

    input {
        width: 100%;
    }

    .box button {
        padding: 12px 50px;
        border-radius: 50px;
    }

}


@media (width<750px) {
    .container {
        width: 90%;
        height: 70%;
        padding: 20px 40px;
    }

    h1 {
        text-align: center;

    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}