* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
}

body form{
    width: 30%;
    height: 75%;
    border: 0.2px solid #e9e9e9;
    outline: none;
    margin-top: 75px;
    border-radius: 10px; 
    box-shadow: -3px 2px 12px 15px rgba(125,135,135,0.45);  
    padding: 0px 10px;

   
}
form h1{
    text-align: center;
    margin: 5px 0px;
    text-decoration: underline;
    text-decoration-thickness: inherit;
    text-decoration-color: #5ffbf1;
    opacity: 0.7;
    
}

form div{
    margin-top: 30px;

}

div label{
    font-size: 20px;
    opacity: 0.8;
}

div input{
    width: 100%;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}
div input:focus{
    outline: none;
    border: none;
}
div button{
    margin-bottom: 40px;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #52cffe;
    color: #e9e9e9;
    font-weight: 700;
    cursor: pointer;
}

